In [1]:
import pandas as pd
questions = pd.read_csv('kraggle/Questions.csv', encoding='latin-1')
tags = pd.read_csv('kraggle/Tags.csv', encoding='latin-1')

In [2]:
total = questions.join(tags.set_index('Id'), on='Id')

In [3]:
total.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Tag
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,flex
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,actionscript-3
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,air
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,svn
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,tortoisesvn

In [4]:
total.shape

(3750994, 8)

In [5]:
total['Body']

0          <p>I've written a database generation script i...
0          <p>I've written a database generation script i...
0          <p>I've written a database generation script i...
1          <p>Are there any really good tutorials explain...
1          <p>Are there any really good tutorials explain...
1          <p>Are there any really good tutorials explain...
1          <p>Are there any really good tutorials explain...
2          <p>Has anyone got experience creating <strong>...
2          <p>Has anyone got experience creating <strong>...
2          <p>Has anyone got experience creating <strong>...
3          <p>This is something I've pseudo-solved many t...
3          <p>This is something I've pseudo-solved many t...
3          <p>This is something I've pseudo-solved many t...
3          <p>This is something I've pseudo-solved many t...
4          <p>I have a little game written in C#. It uses...
4          <p>I have a little game written in C#. It uses...
4          <p>I have a little game written in C#. It uses...
4          <p>I have a little game written in C#. It uses...
5          <p>I am working on a collection of classes use...
5          <p>I am working on a collection of classes use...
5          <p>I am working on a collection of classes use...
5          <p>I am working on a collection of classes use...
6          <p>I've been writing a few web services for a ...
6          <p>I've been writing a few web services for a ...
7          <p>I wonder how you guys manage deployment of ...
7          <p>I wonder how you guys manage deployment of ...
7          <p>I wonder how you guys manage deployment of ...
7          <p>I wonder how you guys manage deployment of ...
8          <p>I would like the version property of my app...
8          <p>I would like the version property of my app...
                                 ...
1264204    <p>I have the following code, works perfectly,...
1264205    <p>I've taken AndrÃ¡s KovÃ¡cs's <a href="https...
1264205    <p>I've taken AndrÃ¡s KovÃ¡cs's <a href="https...
1264205    <p>I've taken AndrÃ¡s KovÃ¡cs's <a href="https...
1264205    <p>I've taken AndrÃ¡s KovÃ¡cs's <a href="https...
1264205    <p>I've taken AndrÃ¡s KovÃ¡cs's <a href="https...
1264206    <p>When I close my application by tapping on h...
1264206    <p>When I close my application by tapping on h...
1264206    <p>When I close my application by tapping on h...
1264207    <p>Let's say I have two entities:</p>\n\n<pre>...
1264208    <p>I'm trying to detect the "flash out of date...
1264208    <p>I'm trying to detect the "flash out of date...
1264208    <p>I'm trying to detect the "flash out of date...
1264209    <p>I am trying to assign a Product model for s...
1264209    <p>I am trying to assign a Product model for s...
1264209    <p>I am trying to assign a Product model for s...
1264209    <p>I am trying to assign a Product model for s...
1264210    <p>I need to extend a shell script (bash). As ...
1264210    <p>I need to extend a shell script (bash). As ...
1264210    <p>I need to extend a shell script (bash). As ...
1264211    <p>I am building a custom MVC project and I ha...
1264211    <p>I am building a custom MVC project and I ha...
1264212    <p>The API docs show that you should be able t...
1264213    <p>Under minifyEnabled I changed from false to...
1264213    <p>Under minifyEnabled I changed from false to...
1264214    <p>I have input which I use to filter my array...
1264214    <p>I have input which I use to filter my array...
1264215    <p>I'm running a mocha test and I noticed my c...
1264215    <p>I'm running a mocha test and I noticed my c...
1264215    <p>I'm running a mocha test and I noticed my c...
Name: Body, Length: 3750994, dtype: object

In [6]:
from collections import Counter
import numpy as np 
import string
import re

def clean_text(text):
    global EMPTY
    EMPTY = ''
    
    if not isinstance(text, str): 
        return text
    text = re.sub('<pre><code>.*?</code></pre>', EMPTY, text)

    def replace_link(match):
        return EMPTY if re.match('[a-z]+://', match.group(1)) else match.group(1)
    
    text = re.sub('<a[^>]+>(.*)</a>', replace_link, text)
    return re.sub('<[^>]+>', EMPTY, text)

In [7]:
total['Text'] = total['Body'].apply(clean_text).str.lower()
total.Text = total.Text.apply(lambda x: x.replace('"','').replace("\n","").replace("\t",""))

In [8]:
total.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Tag,Text
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,flex,i've written a database generation script in s...
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,actionscript-3,i've written a database generation script in s...
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...,air,i've written a database generation script in s...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,svn,are there any really good tutorials explaining...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...,tortoisesvn,are there any really good tutorials explaining...

In [9]:
total['Tag'].nunique()

37034

In [10]:
def plot_tags(tagCount):
    
    x,y = zip(*tagCount)

    colormap = plt.cm.gist_ncar #nipy_spectral, Set1,Paired  
    colors = [colormap(i) for i in np.linspace(0, 0.8,50)]   

    area = [i/4000 for i in list(y)]   # 0 to 15 point radiuses
    plt.figure(figsize=(10,6))
    plt.ylabel("Number of question associations")
    for i in range(len(y)):
        plt.plot(i,y[i], marker='o', linestyle='',ms=area[i],label=x[i])

    plt.legend(numpoints=1)
    plt.show()

In [11]:
import collections
import matplotlib.pyplot as plt
tagCount =  collections.Counter(list(total['Tag'])).most_common(10)
print(tagCount)
plot_tags(tagCount)

[('javascript', 124155), ('java', 115212), ('c#', 101186), ('php', 98808), ('android', 90659), ('jquery', 78542), ('python', 64601), ('html', 58976), ('c++', 47591), ('ios', 47009)]