In [35]:
import pandas as pd
from os.path import join

In [36]:
data = pd.read_csv(join('Predictive Data Mining', 'Logistic Regression', 'oscarsdemo.csv'))

In [37]:
data.describe(include = ['float', 'object'])

                  Title
count               120
unique              120
top     Erin Brockovich
freq                  1

In [38]:
y = data.Winner == 1
X = data.drop('Year', axis=1).drop('Title', axis=1).drop('Winner', axis=1)

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train

     OscarNominations
33                  5
42                  4
58                  7
66                  7
10                  7
53                  7
32                  7
80                  5
38                 10
19                  9
119                 8
27                  5
36                  7
111                 5
39                  6
69                 14
89                  8
85                  5
40                  4
55                  7
65                  4
88                  8
23                  7
34                 12
78                  7
105                 6
4                  11
82                  5
15                  5
102                 6
..                ...
13                  7
86                  7
93                 10
87                 13
68                  9
104                11
14                  8
29                  8
28                  9
11                  5
84                 12
18                  6
101                 7
20                  6
50                  4
25                  3
6                   4
71                  7
76                  6
1                   7
16                  7
64                 12
79                  8
5                   8
75                  4
9                  11
72                  7
12                  8
107                 5
37                  8

[90 rows x 1 columns]

In [40]:
clf = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X_train, y_train)

In [41]:
clf.predict(X_test)

array([False,  True, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False])

In [43]:
clf.score(X_test, y_test)

0.8333333333333334